.container {
    display: flex;
    width: 90%;
    margin-left: 65px;
    margin-top: 20px;
}

.box {
    width: 25%;
    /* Adjust the width as needed */
    height: 100px;
    /* Adjust the height as needed */
}

.h1-apu {
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.ul-items {
    margin-right: 35px;
    list-style-type: none
}

.item {
    display: flex;
    flex-direction: column;
    height: 270px;
    padding: 1rem 0 1rem 1rem;
    margin: 1rem 0;
    background-color: grey;
}

.item2 {
    display: flex;
    flex-direction: column;
    height: 210px;
    padding: 1rem 0 1rem 1rem;
    margin: 1rem 0;
    background-color: grey;
}

.label-avu {
    font-size: 11px;
    color: white;
    margin-left: 1px;
    margin-top: 5px;
}

.img-avu {
    align-self: center;
    border: 1px solid whitesmoke;
}

.button-avu {
    align-self: center;
    width: 200px;
    background-color: white;
    margin-left: 5px;
    margin-top: 10px;
}