.Nav {
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
}

.ListItem {
    display: inline-block;
    margin-right: 20px;
}

.Link {
    color: white;
}